<a href="https://colab.research.google.com/github/johanarugeles22/Talento_Tech_JohanaRugeles/blob/main/Modulo_1_Trabajo_Talento_Tech_Johana_Rugeles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Actividad 11 -12 junio
# Archivos en una carpeta drive
from google.colab import drive # Traemos la clase drive, dentro del módulo colab, del paquete google
drive.mount('/content/drive') # Establecemos la conexión através del método mount

# Conexion con la carpeta (ruta)
path = '/content/drive/MyDrive/Colab Notebooks/Data/ventas.xlsx'

# Importar librerias requeridas
import pandas as pd

# Creacion dataframe
df_ventas = pd.read_excel(path)

# Tipos de codigo
#devuelve lista con los nombres de las columnas dataframe
# df_ventas.columns
#devuelve ultimas filas dataframe
# df_ventas.tail()
#devuelve primeras filas dataframe
# df_ventas.head()
#devuelve info dataframe incluyendo tipos de datos y valores no nulos
# df_ventas.info()
# devuelve estadisticas descriptivas para columnas numericas
# df_ventas.describe()
#from matplotlib import pyplot plt
#df_ventas[Ventas].plot(kind ='hist', bins=20, title='Ventas)
#plt.gca().spines[['top','right',]].set_visible(False)

#Actividad 13 junio
#Ejercicio 1 Mostrar las primeras filas del Dataframe
print(df_ventas.head(5))
#Ejercicio 2 Calcular el total de ventas por region
ventas_por_region = df_ventas.groupby('Region')['Ventas'].sum()
print(ventas_por_region)
print('\n')
print(df_ventas.head(10))
#Ejercicio 3 Filtrar el Dataframe para mostrar solo las ventas realizadas por David
ventas_david =df_ventas[df_ventas['Vendedor']== 'David']
print(ventas_david)

#Actividad 14 junio
#Ejercicio 4 Calcular el promedio de ventas por region
print("Ejercicio 4:Calcular el promedio de ventas por region")
ventas_por_producto = df_ventas.groupby('Region')['Ventas'].mean()
print(ventas_por_producto)
#prompt:Ejercicio 5 Calcular el promedio de ventas por region con dos decimales
print("Ejercicio 5: Calcular el promedio de ventas por region con dos decimales")
ventas_por_producto = df_ventas.groupby('Region')['Ventas'].mean().round(2)
print(ventas_por_producto)
#Ejercicio 6 Ordenar el dataframe por ventas en orden descendente
print("Ejercicio 6 Ordenar el dataframe por ventas en orden descendente")
df_ordenado =df_ventas.sort_values(by='Ventas',ascending=False)
print(df_ordenado)
#Ejercicio 7 Filtrar las filas con ventas mayores a 10000 y ordenar a de mayor a menor
print("Ejercicio 7 Filtrar las filas con ventas mayores a 10000")
df_filtrado = df_ventas[df_ventas['Ventas']> 10000].sort_values(by='Ventas',ascending= True)
print(df_filtrado)
print("\n")
#Ejercicio 8 Ordenar el dataframe por ventas en orden descendente
print("Ejercicio 8 Ordenar el dataframe por ventas en orden descendente")
df_ordenado = df_ventas.sort_values(by='Ventas', ascending=False)
print(df_ordenado)
print("\n")
#Ejercicio 9 Eliminar la columna "Vendedor"
print("Ejercicio 9 Eliminar la columna 'Vendedor'")
df_sin_vendedor =df_ventas.drop(columns=['Vendedor'])
print(df_sin_vendedor)
print("\n")

In [ ]:
#Actividad 17 junio
#Especificamos la ruta del dataset en el drive
file_path ="/content/drive/MyDrive/Colab Notebooks/Data/DATASET 1.csv"
#leemos el dataset con la libreria pandas
df_persona =pd.read_csv(file_path,delimiter=";")
#imprimimos el dataframe
#print(df_persona)
#Cambiar el nombre de las columnas del df_persona y creamos un dataframe llamado df_nombres (weight, heigh , age, gender)
df_nombres =df_persona.rename(columns= {'weight':'Peso','height':'Estatura','age':'Edad','gender':'Genero'})
print(df_nombres)

   id   Peso Estatura  Edad Genero
0   1  144,5      5,9    33      M
1   2  167,2      5,4    45      M
2   3  124,1      5,2    23      F
3   4  144,5      5,9    33      M
4   5  133,2      5,7    54      F
5   3  124,1      5,2    23      F
6   5  129,2      5,3    42      M

In [ ]:
#Pasar columnas con separador decimal de , a .
df_nombres['Peso'] = df_nombres['Peso'].str.replace(',', '.').astype(float)
df_nombres['Estatura'] = df_nombres['Estatura'].str.replace(',', '.').astype(float)
print(df_nombres)

   id   Peso  Estatura  Edad Genero
0   1  144.5       5.9    33      M
1   2  167.2       5.4    45      M
2   3  124.1       5.2    23      F
3   4  144.5       5.9    33      M
4   5  133.2       5.7    54      F
5   3  124.1       5.2    23      F
6   5  129.2       5.3    42      M

In [ ]:
#Transformar los valores de peso y estatura
#crear un nuevo dataframe llamado df_convertido
df_convertido =df_nombres
#Factores de conversion
lbs_to_kg =0.453592
estatura_to_mt=0.3048
#convertir peso a kilogramos en una nueva columna
df_convertido['Peso_Kg'] = df_convertido['Peso'] * lbs_to_kg
#convertir estatura a metros en una nueva columna
df_convertido['Estatura_Mts'] = df_convertido['Estatura'] * estatura_to_mt
# Mostrar el dataframe actualizado
#print(df_convertido.head())

df_select = df_convertido[['id','Peso_Kg','Estatura_Mts', 'Edad','Genero']]
print(df_select)

   id    Peso_Kg  Estatura_Mts  Edad Genero
0   1  65.544044       1.79832    33      M
1   2  75.840582       1.64592    45      M
2   3  56.290767       1.58496    23      F
3   4  65.544044       1.79832    33      M
4   5  60.418454       1.73736    54      F
5   3  56.290767       1.58496    23      F
6   5  58.604086       1.61544    42      M

In [ ]:
#sin decimales
df_round =df_select.Peso_Kg.round(2)
print(df_round)
df_round2 =df_select.Estatura_Mts.round(2)
print(df_round2)

0    65.54
1    75.84
2    56.29
3    65.54
4    60.42
5    56.29
6    58.60
Name: Peso_Kg, dtype: float64
0    1.80
1    1.65
2    1.58
3    1.80
4    1.74
5    1.58
6    1.62
Name: Estatura_Mts, dtype: float64